In [4]:
from multipledispatch import dispatch
@dispatch(int,int)
def product(first,second):
    result = first*second
    print(result);
  
@dispatch(int,int,int)
def product(first,second,third):
    result  = first * second * third
    print(result);

In [5]:
product(23,22)
product(23,34,45)

506
35190

In [11]:
@dispatch(int,int)
def add(first,second):
    result = first+second
    print (result)
    
@dispatch(str,str,int)
def add(first,second,third):
    result = first+" "+second
    print ("sir! your name is {} and your age is {}".format(result,third))

In [12]:
add(23,43)
add("Ashwajit","prasad",40)

66
sir! your name is Ashwajit prasad and your age is 40

In [24]:
@dispatch(int,str)
def sub(first,second):
    result = "hey your name is {} and your age is {}".format(second,first)
    print (result)
@dispatch(str,int)
def sub(first,second):
    result = "hey your name is {} and your age is {}".format(first,second)
    print (result)

In [25]:
sub(10,"ashwajit")
sub("ashwajit",20)

hey your name is ashwajit and your age is 10
hey your name is ashwajit and your age is 20