In [37]:
def calc(s,a):
    add = s+a
    mul = s*a
    div = s/a
    sub = s-a
    print("the sum is {} ,the product is {},the divisor is {}, the diffrence is {}".format(add,mul,div,sub))
calc(10,5)

the sum is 15 ,the product is 50,the divisor is 2.0, the diffrence is 5

In [10]:
#increment
a = 2
a+= 1
print(a)
#decrement
b = 3
b-= 1
print (b)

3
2

In [24]:
a = 2>=3
print(a)
b = 2==2
print(b)
c = 3<=3
print(c)
d = 2>3
print(d)
e = 2<3
print(e)

False
True
True
False
True

In [35]:
def diff(a,b):
    if  a>b:
        print ("bigger one {}".format(a))
        print ("lowest one {}".format(b))
    else:
        print ("bigger one {}".format(b))
        print ("lowest one {}".format(a))
        
        
 
diff(10,20)
diff(233,236)

bigger one 20
lowest one 10
bigger one 236
lowest one 233